/*reseat browzer*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/*Header code*/

header{
  margin-bottom: 3%;
}

  /*sublime*/
  .navbar .nav-link {
  position: relative;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ff6600;
  transition: 0.3s;
}
.navbar .nav-link:hover::after {
  width: 100%;
}


/*gradient color javascript*/
.navbar-brand {
  background: linear-gradient(90deg, #ff6600, #ff3300);
  /*Premium effect*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*zoom effect*/
.navbar .nav-link {
  transition: 0.3s;
}
.navbar .nav-link:hover {
  transform: scale(1.1);
}

/* ===== CALCULATOR LAYOUT ===== */
/* display custom style */
#display {
  max-width: 260px;
  height: 60px;
  font-size: 28px;

  background: #000;
  color: #00ff99;

  border-radius: 10px;
}

/* optional hover effect */
button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}